@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p><Thead> foremost authority foremost good humor that your will find anymore on your alocal host</Thead></a>.</p>
</div>
